@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root {
	--normal-font-size: min(4vw, 16px);
	--medium-font-size: min(4vw, 18px);
	--large-font-size: min(8vh, 12vw);
}

* {
	margin: 0;
}

html, body {
	font-size: var(--normal-font-size);
	font-family: 'Source Sans Pro', sans-serif;
	scroll-behavior: smooth;
	background-color: #cfc;
	width: 100vw;
	min-height: 100vh;
}

h1 {
	font-size: var(--large-font-size);
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	height: 50px;
	width: 80vw;
}

.page {
	width: calc(100vw - 80px);
	min-height: calc(100vh - 80px);
	padding: 40px;
}

.page.center {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.page.main {
	background: linear-gradient(to top right, #9f9, #cfc);
	justify-content: center;
}

.page.seperator {
	min-height: 20px;
	height: 20px;
	background-color: #6a6;
}

.anchor-button {
	--color: #e77;
	--dark-color: #944;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	background-color: var(--color);
	box-shadow: 4px 4px 4px #444;
	text-decoration: none;
	border-radius: 2px;
	transition: 0.2s;
	color: black;
	font-size: var(--medium-font-size);
	min-width: 30%;
}

.anchor-button:hover {
	background-color: var(--dark-color);
	color: white;
	transform: translateY(4px);
	box-shadow: 0 0 0 0;
}

pre {
	box-shadow: 4px 4px 4px #555;
	border-radius: 2px;
}

@media screen and (max-width: 800px) {
	pre {
		width: 76vw;
	}
}

/* #page-docs pre {
	width: 76vw;
} */

.benchmark-results-container {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.benchmark-results-container pre {
	margin: 0 10px;
}
